:root {
    --color-foreground: #ebeaea;
    --color-background: #1a1a1e;
    --color-accent: #e53c3c;
}

.body {
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.main-title {
    text-align: center;
    color: var(--color-foreground);
}

.profile-photo {
    width: 200px;
    border-right: 15px solid var(--color-accent);
}

.about-me {
    color: var(--color-foreground);
}

.hobby-list {
    color: var(--color-foreground);
}

.hobby-list__item {
    margin-bottom: 10px;
}

.hobby-list__item:last-child {
    margin-bottom: 0;
}

.social {
    text-decoration: none;
    color: var(--color-accent);
}

